.Bio {
  z-index: 5;
  position: fixed;
  top: 9rem;
  height: 55rem;
  color: white;
  width: 18rem;
  background-color: rgba(106, 120, 155, 0.94);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.7rem;
}

#Web {
  right: 3.5rem;
}

#Resume {
  right: 29.5rem;
}

.Bio h3 {
  font-size: 1.8rem;
}

.Bio a {
  color: white;
  font-size: 1rem;
}

#Bio-Icon a {
  font-size: 3rem;
}

.Bottom-Icons {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  margin-top: 2rem;
  grid-column-gap: 0.2rem;
  width: 50%;
}

#Ed {

  font-size: 1.3rem;
}

#Paragraph {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.Bio-Paragraph {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
 /* margin-top: 3rem;*/
 
}