.Bio {
  z-index: 5;
  color: white;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.4);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0.5rem;
  top: 0;
  font-weight: 300;
}

.Bio h3 {
  margin-bottom: 1rem;
}

#Web {
 padding-bottom: 2vh;
}

.Web-Heading {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.Web-Grid {
  grid-row: 2 / 5;
}

.Bio a {
  color: white;
  font-size: 1vw;
}

#Resume {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

#Ed {
  padding-left: 3vw;
  padding-right: 3vw;
}

hr {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

#Ed h4 {
  margin-bottom: 0.5rem;
}

#Ed p {
  margin: 0;
}

#Bio-Paragraph {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  padding-bottom: 0.5vh;
  padding-left: 3vw;
  padding-right: 3vw;
}

#Portfolio {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  height: 100%;
  padding-right: 1vw;
  width: 100%;
  -webkit-animation: blink-bg 2s 3;
  -moz-animation:    blink-bg 2s 3;
  animation:         blink-bg 2s 3;
}

@keyframes blink-bg {
  100% { background-color: rgb(204, 102, 60); }
}

@keyframes fadeInBio {
  0% { opacity: 0.3; }
  25% { opacity: 0.5; }
  50% { opacity: 0.7; }
  75% { opacity: 0.9; }
  100% { opacity: 1; }
}

#Portfolio:hover {
  cursor: pointer;
  background: darkgrey;
}

#Portfolio h3 {
  font-weight: 400;
}

#Portfolio h3:hover {
  cursor: pointer;
}

.Bio-Wrap {
  top: 7rem;
  z-index: 6;
  width: 95vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  position: absolute;
  -webkit-animation: fadeInBio 0.5s 1;
  -moz-animation:    fadeInBio 0.5s 1;
  animation:         fadeInBio 0.5s 1;
}

.Overlay {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(10, 10, 10, 0.9);
}

.Bio-Grid {
  display: grid;
  grid-template-columns: 25% 33.33% 1fr;
  grid-row-gap: 1vh;
  grid-column-gap: 1vw;
  grid-template-rows: auto 10% 30% 65%;
  width: 100%;
}

@media only screen and (max-width: 1100px), screen and (max-height: 850px) {
  .Bio {
    background: black;
    border-radius: 0;
  }

  .Bio-Wrap {
    top: 6rem;
    padding: 0;
    width: 100vw;
    padding: 0;
  }

  .Bio-Grid {
    overflow: hidden;
    grid-column-gap: 0;
    grid-row-gap: 0;
    width: 100%;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto auto;
  }

  #Bio-Paragraph {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  #Resume {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    padding-left: 15vw;
    padding-right: 15vw;
  }

  #Portfolio {
    display: none;
  }
}