.Bio {
  z-index: 5;
  position: fixed;
  top: 8rem;
  bottom: 8rem;
  height: 80%;
  color: white;
  width: 18rem;
  background-color: rgba(106, 120, 155, 0.94);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.7rem;
  margin-bottom: 2rem;
  min-height: 800px;
}

#Web {
  right: 3.5rem;
}

#Resume {
  right: 29.5rem;
}

.Bio h3 {
  font-size: 1.8rem;
}

.Bio a {
  color: white;
  font-size: 1rem;
}

#Bio-Icon a {
  font-size: 3rem;
}

.Bottom-Icons {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 auto;
  margin-top: 0.3rem;
  grid-column-gap: 0.2rem;
  width: 50%;
}

#Ed {
  font-size: 1.3rem;
}

#paragraph {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

.Bio-Paragraph {
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
 /* margin-top: 3rem;*/
 line-height: 1.4rem;
}

@media only screen and (max-height: 1090px) {
    #paragraph {
      font-size: 0.9rem;
    }

    .Bio {
      top: 6rem;
      height: 90%;
    }

    .Bio h3 {
      font-size: 1.3rem;
    }

    #Bio-Icon a {
      font-size: 2.5rem;
    }

    #Ed {
      font-size: 1.1rem;
    }
}

@media only screen and (max-width: 600px) {
  .Bio {
    z-index: 9999;
    top: 0;
  }

  #Web h3 {
    text-align: left;
  }


  #Web {
    position: absolute;
    width: 100vw;
    top: 10rem;
    left: 0;
  }

  




}