.Bio {
  z-index: 5;
  /*position: fixed;
  top: 6rem;
  bottom: 4rem;*/
  color: white;
  width: 95%;
  background-color: rgba(0, 0, 0, 0.8);
/*  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.7rem;*/
/*  display: inline-block;*/
}

#Web {
 /* right: 3.5rem;*/
}

#Resume {
  /*right: 29.5rem;*/
}

.Bio h3 {
  font-size: 1.4vw;
}

.Bio a {
  color: white;
  font-size: 1vw;
}

#Ed {
  font-size: 1.3vw;
  line-height: 2vh;
}

#paragraph {
  line-height: 3vh;
  font-size: 1.1vw;
}

.Bio-Paragraph {
  padding-bottom: 0.5vh;
  padding-left: 1vw;
  padding-right: 1vw;
 /* margin-top: 3rem;*/
 line-height: 1.4vh;
}

#Stern {
  font-size: 1vw;
}

@media only screen and (max-width: 1100px) {
    .Bio {
      width: 100%;
      background: black;
    }

    .Bio h3 {
      font-size: 3vw;
    }

    .Bio a {
      color: white;
      font-size: 2vw;
    }

    #Ed {
      font-size: 3.5vw;
      line-height: 2vh;
    }

    p {
      padding: 0;
      margin: 0;
    }

    #paragraph {
      line-height: 2vh;
      font-size: 3vw;
    }

    .Bio-Paragraph {
      padding-bottom: 1vh;
      padding-left: 2vw;
      padding-right: 2vw;
     /* margin-top: 3rem;*/
     line-height: 1.5vh;
    }

    #Stern {
      font-size: 3vw;
    }

    em {
      font-size: 3.5vw;
    }
}