.Carousel {
  top: 0;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-overlay {
  position: absolute;
  background: linear-gradient(20deg, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.1));
  height: 99%;
  width: 100%;
  z-index: 5;
}

.Carousel img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 4;
}

@media only screen and (max-width: 1100px) {
    .Carousel {
      position: relative;
      top: 7rem;
    }
 /*   .Carousel img {
      height: 60vh;
      width: 110vw;
    }*/
}