.Eddie {
  font-size: 2rem;
  position: relative;
  float: left;
  padding-left: 1rem;
  bottom: 0;
  z-index: 6;
}

.Eddie h1 {
  margin: 0;
  font-family: Helvetica;
}

@media only screen and (max-width: 1100px) {
  .Eddie {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  .Eddie h1 {
    font-family: Arial;
    font-weight: 350;
    text-align: center;
  }
}