.Eddie {
  font-size: 2.1rem;
  position: relative;
  margin-left: 2%;
  float: left;
  bottom: 0;
  padding: 0;
}

.Eddie h1 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .Eddie-Alex {
    position: relative;
    top: 0;
    font-size: 2rem;
    z-index: 9999;
    left: 1rem;
  }
} 