.Eddie {
  font-size: 2.3vw;
  position: relative;
  margin-left: 2%;
  float: left;
  bottom: 0;
  padding: 0;
  z-index: 6;
}

.Eddie h1 {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .Eddie {
    position: relative;
    top: 0;
    width: 80%;
    text-align: center;
    font-size: 5vw;
    letter-spacing: 2vw;
    z-index: 9999;
    transform: translate(5%, 0);
  }
} 