.Footer {
  width: 100%;
  background-color: #6a789b;
  background-color: rgba(106, 120, 155, 0.85);
  color: white;
  position: fixed;
  bottom: 0;
  font-size: 0.6rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1.2rem;
  z-index: 6;
  font-family: Helvetica;
}