.Footer {
  width: 100%;
  background-color: #6a789b;
  /*background-color: rgba(106, 120, 155, 0.94);*/
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  bottom: 0;
  font-size: 0.6rem;
  padding-bottom: 0.5rem;
  padding-top: 1vh;
  font-weight: 300;
  font-size: 0.8vw;
  z-index: 6;
  font-family: Helvetica;
}

@media only screen and (max-width: 1100px) {
  .Footer {
    font-size: 13px;
    
  }
}