.Footer {
  width: 100%;
  background-color: #6a789b;
  /*background-color: rgba(106, 120, 155, 0.94);*/
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  position: fixed;
  bottom: 0;
  font-size: 0.6rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  z-index: 6;
  font-family: Helvetica;
}