.Footer {
  width: 20%;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.4);
  border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 0.3rem;
  color: white;
  bottom: 0;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.8rem;
  z-index: 6;
  font-family: Helvetica;
  margin: 0 auto;
  position: fixed;
}

@media only screen and (max-width: 1100px) {
  .Footer {
    border-top: 0;
    font-size: 15px;
    z-index: 9999;
    width: 100%;
  }
}