.Header {
  position: fixed;
  top: 1%;
  width: auto;
  left: 18%;
  right: 14%;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 9999;
  border-radius: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 4vh;
}

.Clicked {
  -webkit-animation: clicked 3s 1;
  -moz-animation:    clicked 3s 1;
  animation:         clicked 3s 1;
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;
}

@keyframes clicked {
  100% {left: 2.5vw; right: 2.5vw;}
}

.Clicked a {
}


@media only screen and (max-width: 1100px), screen and (max-height: 850px) {
    .Header {
      left: 0;
      right: 0;
      top: 0;
      width: 100vw;
      margin-bottom: 0;
      border-radius: 0;
      background: black;
    }

    .Clicked {
      -webkit-animation: clicked 3s 1;
      -moz-animation:    clicked 3s 1;
      animation:         clicked 3s 1;
    }

    @keyframes clicked {
      100% {background-color: rgb(30, 30, 30);}
    }
}

/*@media only screen and (max-width: 640px) {
  .Header {
    height: 5%;
  }
}

@media only screen and (max-width: 450px) {
    .Header {
      height: 3%;
    }
}*/

