.Header {
  position: fixed;
  top: 1rem;
  width: auto;
  left: 18%;
  right: 14%;
  /*left: 2.5%;
  right: 2.5%;*/
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.94);
  color: white;
  z-index: 9999;
  border-radius: 1rem;
  padding-top: 0.5rem;
  margin-bottom: 4vh;
}

@media only screen and (max-width: 1100px) {
    .Header {
      width: 100%;
      left: 0;
      right: 0;
      height: 13%;
      top: 0;
      border-radius: 0;
      background: #6a789b;
    }
}