.Hover-Label {
  position: absolute;
  bottom: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 1.2rem;
  text-align: left;
  font-weight: 400;
  border-radius: 0.4rem;
  padding: 0.5rem;
}

@media only screen and (max-width: 1100px) {
  .Hover-Label {
    display: none;
  }
}