.Message-Wrapper {
  top: 12%;
  bottom: 5vh;
  z-index: 6;
  width: 50%;
  left: 25%;
  right: 12.5%;
  position: fixed;
  overflow: scroll;
}

.Message-Overlay {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(20, 20, 20, 0.8);
}

input {
  z-index: 9999;
  font-family: Helvetica;
  font-size: 1.9vw;
  width: 100%;
  margin: 0 auto;
  border: none;
  background: black;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid darkgrey;
}

textarea {
  z-index: 9999;
  font-family: Helvetica;
  font-size: 1.9vw;
  border: none;
  color: white;
  background: black;
  position: relative;
  width: 100%;
  height: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  resize: none;
  margin-bottom: 1rem;
  border: 1px solid darkgrey;
  border-radius: 0.3rem;
}

button {
  z-index: 9999;
  border: 1px solid darkgrey;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  margin-top: 3rem;
  width: 20%;
  margin: 0 auto;
  display: block;
}

button:hover {
  cursor: pointer;
}

form {
  z-index: 9999;
  position: relative;
  height: 80%;
  font-size: 1.3rem;
  margin-top: 3rem;
  padding: 0.5rem;
  margin: 0 auto;
  z-index: 6;
}

@media only screen and (max-width: 1100px) {
  .Message-Wrapper {
    width: 100%;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
  }
}