.Message-Wrapper {
  z-index: 9999;
  position: fixed;
  color: white;
  width: 100%;
  height: 85%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1.7rem;
}

input {
  font-family: Helvetica;
  font-size: 1.8vw;
  width: 90%;
  margin: 0 auto;
  border: none;
  background: black;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid darkgrey;
}

textarea {
  font-family: Helvetica;
  font-size: 1.8vw;
  border: none;
  color: white;
  background: black;
  position: relative;
  width: 90%;
  height: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  resize: none;
  margin-bottom: 1rem;
  border: 1px solid darkgrey;
  border-radius: 0.3rem;
}

button {
  border: 1px solid darkgrey;
  background-color: black;
  color: white;
  font-size: 1.2rem;
  margin-top: 3rem;
  width: 20%;
  margin: 0 auto;
  display: block;
}

button:hover {
  cursor: pointer;
}

form {
  position: relative;
  height: 100%;
  font-size: 1.2rem;
  margin-top: 3rem;
  padding: 0.5rem;
}