.Message-Wrapper {
  top: 12%;
  bottom: 5vh;
  z-index: 6;
  width: 50%;
  left: 25%;
  right: 12.5%;
  position: fixed;
  overflow: none;
  -webkit-animation: fadeInMessage 0.5s 1;
  -moz-animation:    fadeInMessage 0.5s 1;
  animation:         fadeInMessage 0.5s 1;
}

@keyframes fadeInMessage {
  0% { opacity: 0.3; }
  25% { opacity: 0.5; }
  50% { opacity: 0.7; }
  75% { opacity: 0.9; }
  100% { opacity: 1; }
}

.Message-Overlay {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(20, 20, 20, 0.8);
}

input {
  z-index: 9999;
  font-family: Helvetica;
  font-size: 1.3rem;
  width: 100%;
  margin: 0 auto;
  border: none;
  background: black;
  color: white;
  border-radius: 0.6rem;
}

::placeholder {
  color: white;
}

textarea {
  z-index: 9999;
  font-family: Helvetica;
  font-size: 1.3rem;
  border: none;
  color: white;
  background: black;
  position: relative;
  width: 100%;
  height: 70%;
  margin: 0 auto;
  margin-top: 1rem;
  resize: none;
  margin-bottom: 1rem;
  border-radius: 0.6rem;
}

button {
  z-index: 9999;
  border: none;
  background-color: black;
  color: white;
  font-weight: 350;
  font-size: 1.2rem;
  margin-top: 3rem;
  width: 20%;
  margin: 0 auto;
  display: block;
  border-radius: 0.6rem;
}

button:hover {
  background-color: white;
  color: black;
}

button:hover {
  cursor: pointer;
}

form {
  z-index: 9999;
  position: relative;
  height: 80%;
  margin: 0 auto;
  z-index: 6;
}

@media only screen and (max-width: 1100px) {
  .Message-Wrapper {
    width: 100%;
    left: 0;
    right: 0;
    top: 9rem;
    bottom: 0;
  }

  form {
    height: 70%;
    width: 90%;
    padding: 0;
    margin-top: 0;
  }
}