.Portfolio-List {
  grid-row: 2 / 5;
  grid-column: 3 / 4;
  z-index: 6;
  width: 100%;
  padding-right: 1vw;
  max-height: 100%;
  overflow: scroll;
}

.Portfolio-List li {
  font-size: 1vw;
}

.current {
  background-color: white;
}

.Portfolio ul {
  position: absolute;
  width: 100%;
  padding-left: 0;
}

.Portfolio li {
  font-size: 1.4vw;
  display: block;
  padding-top: 2vh;
  padding-bottom: 2vh;
  font-weight: 350;
}

.current {
  background: grey;
}