.PortfolioItem {
  width: 100%;
  position: relative;
}

#link {
  color: white;
  position: fixed;
  top: 10rem;
  left: 2%;
  text-decoration: none;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.75);
  padding: 1rem;
}

.description {
  color: white;
  position: absolute;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.75);
  width: 50rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 400;
}

#description1 {
  top: 35%;
  right: 3.5rem;
}