.PortfolioItem {
  width: 100%;
  margin-top: -10rem;
}

.title {
  position: sticky;
  top: 40%;
  color: white;
  width: 15rem;
  text-decoration: none;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 1);
  padding: 0.6rem;
  font-size: 2rem;
  z-index: 9999;
}

@media only screen and (max-width: 600px) {
  .title {
    display: none;
    z-index: 5;
  }
}
