.PortfolioItem {
  width: 100%;
  margin-top: -10rem;
}

.title {
  position: sticky;
  top: 40%;
  color: white;
  width: auto;
  float: left;
  text-decoration: none;
/*  background: #6a789b;*/
  background-color: rgba(106, 120, 155, 0.94);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  font-size: 1.7rem;
  z-index: 9998;
  border-radius: 0.5rem;
  font-weight: 300;
  color: white;
}

.title h3 {
  font-weight: 380;
}

