.PortfolioImage {
  max-width: 100%;
  position: relative;
}

.PortfolioImage img {
  width: 100%;
  margin-bottom: -0.9rem;
}

.description {
  color: white;
  position: absolute;
  right: 2rem;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.94);
  max-width: 30rem;
  max-height: 30rem;
  height: auto;
  letter-spacing: 0.1rem;
  padding: 1rem;
  font-size: 2rem;
  line-height: 3rem;
  font-weight: 400;
  top: 20%;
  border-radius: 0.3rem;
}