.PortfolioItem {
  width: 100%;
  position: relative;
}

#link {
  color: white;
  position: absolute;
  top: 10rem;
  left: 2%;
  text-decoration: none;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.75);
  padding: 1rem;
}

.description {

  color: white;
  position: absolute;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.75);
  width: 50rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  font-size: 2.5rem;
  line-height: 4rem;
  font-weight: 400;
}

#description1 {
  top: 35%;
  left: 2%;
}

#description2 {
  top: 68%;
  left: 2%;
}

@media screen and (max-width: 850px) {
    .description {
        width: 20rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    #link {
      left: 20%;
      width: 20rem;
    }

    #description2, #description1 {
      left: 20%;
    }
}

@media screen and (max-width: 540px) {
    .description {
      width: 80%;
      font-size: 1rem;
      line-height: 1.3rem;
    }

    #link {
      width: 80%;
      left: 2rem;
      padding-top: 0;
      padding-bottom: 0;
    }

    #description2, #description1 {
      left: 2rem;
    }
}

