.PortfolioItem {
  width: 100%;
  position: relative;
}

#link {
  color: white;
  position: absolute;
  top: 1rem;
  left: 3%;
  text-decoration: none;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.9);
  padding: 1rem;
  font-size: 1.5rem;
}

.description {
  color: white;
  position: absolute;
  background: #6a789b;
  background-color: rgba(106, 120, 155, 0.88);
  width: 50rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  font-size: 2.3rem;
  line-height: 4rem;
  font-weight: 400;
}

.description1 {
  top: 35%;
  left: 2%;
}

.description2 {
  top: 68%;
  left: 2%;
}

#clock1, #clock2 {
/*  background: black;
  background: rgba(0, 0, 0, 0.8);*/
}

#clock1 {
  top: 23%;
}

#clock2 {
  top: 70%;
}

#casino1 {
  top: 15%;
  left: 3%;
}

#casino2 {
  top: 72%;
  left: 3%;
}

/*#clock h1 {
  top: 32%;
}
*/
/*.description2:nth-child(2) {
  background: black;
  top: 37%;
}*/

/*@media screen and (max-width: 850px) {
    .description {
        width: 20rem;
        font-size: 1.4rem;
        line-height: 1.8rem;
    }

    #link {
      left: 20%;
      width: 20rem;
    }

    #description2, #description1 {
      left: 20%;
    }
}

@media screen and (max-width: 540px) {
    .description {
      width: 80%;
      font-size: 1rem;
      line-height: 1.3rem;
    }

    #link {
      width: 80%;
      left: 2rem;
      padding-top: 0;
      padding-bottom: 0;
    }

    #description2, #description1 {
      left: 2rem;
    }
}
*/
