.Coverflow {
  color: black;
  z-index: 6;
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  border-radius: 0.4rem;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.4);
  border-top: 0.1rem solid rgba(255, 255, 255, 0.4);
  background: white;
  background: rgba(50, 55, 55, 0.5);
  font-weight: 500;
}

figure {
  width: 130px !important;
  margin-top: 2rem !important;
}

.Coverflow img {
  box-shadow: 1px 1px 3px grey;
  background: rgb(50, 50, 50);
}

.coverflow__text__TAisD {
  color: white;
  background: black;
}

.coverflow__actions__MMUtW {
  position: sticky;
  bottom: 0;
  padding-top: 3rem;
}

.Coverflow button {
  font-size: 1rem;
  width: 3rem;
}

@media only screen and (max-width: 1100px), screen and (max-height: 850px) {
  .Coverflow {
    grid-row: 1 / 2;
    border: 0;
    background: black;
  }

  figure {
    width: 80px !important;
  }

  .coverflow__text__TAisD {
    color: white;
    background: black;
    font-size: 0.7rem;
  }

  .coverflow__actions__MMUtW {
    position: sticky;
    bottom: 0;
    margin-top: 5rem;
  }
}