.TechGrid {
  color: white;
  z-index: 6;
  grid-row: 3 / 5;
  grid-column: 1 / 2;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  margin-bottom: 2vh;
  margin: 0 auto;
}

.TechGrid img {
  position: relative;
  width: 55%;
  text-align: center;
}

.TechIcon {
  background: linear-gradient(18deg, black, darkred);
  font-weight: 600;
  font-size: 1vw;
  border-radius: 0.2rem;
  width: 100%;
  padding-top: 2vh;
}

.Coverflow {
  color: white;
  z-index: 6;
  grid-column: 1 / 3;
  grid-row: 3 / 5;
  border-radius: 0.4rem;
  background: black;
  padding-left: 1vw;
  padding-right: 1vw;
}

.Coverflow h2 {
  margin-bottom: 0;
}

.Coverflow img {
  box-shadow: 1px 1px 3px grey;
/*  padding: 1vw;*/
  background: rgb(50, 50, 50);
}

.coverflow__text__TAisD {
  background: rgba(40, 40, 40, 0.9);
  font-size: 1vw;
}

@media only screen and (max-width: 1100px), screen and (max-height: 850px) {
  .Coverflow {
    grid-row: 1 / 2;
    padding-top: 5%;
  }

  .coverflow__text__TAisD {
  background: rgba(40, 40, 40, 0.9);
  font-size: 1.6vw;
}
}