.TechGrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}

.TechGrid img {
  width: 80%;
}

.TechIcon {
  background-color: rgba(255, 255, 255, 0.18);
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  font-weight: 600;
}