.Top-Menu {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}

ul.dropdown                         { z-index: 10; margin: 0 auto; right: 5rem; vertical-align: middle; }
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; }
ul.dropdown a:hover               { color: white; }
ul.dropdown a:active                { color: white; }
ul.dropdown li a                    { display: block; padding: 4px 8px;
                    color: white; }
/* ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */ */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }




li {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-right: 1.8rem;
  padding-top: 0.55rem;
}

li:hover {
  cursor: pointer;
}

/*@media screen and (max-width: 850px) {
    li {
      font-size: 1.8rem;
    }

    ul.dropdown {
      right: 0;
      top: 2rem;
    }
}

@media screen and (max-width: 540px) {

}*/


@media only screen and (max-width: 600px) {
  ul.dropdown {
    position: absolute;
    top: 4rem;
    left: 0;
    height: 3rem;
    width: 100%;
    z-index: 9999;
    padding-left: 0;
    background: #6a789b;
  }

  li {
    font-size: 2rem;
    padding-right: 1rem;
  }

  li:first-child {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
} 
