ul.dropdown                         { position: fixed; top: 3rem; margin: 0 auto; right: 5rem; vertical-align: middle; 
  -right: 2.7rem;}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; }
ul.dropdown a:hover               { color: white; }
ul.dropdown a:active                { color: white; }
ul.dropdown li a                    { display: block; padding: 4px 8px;
                    color: white; }
/* ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */ */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }


/*
  LEVEL TWO
*/
ul.dropdown ul            { width: 220px; visibility: hidden; position: absolute; top: 100%; left: 0; }
ul.dropdown ul li           { font-weight: normal; background: white; color: #white;
                    border-bottom: 1px solid #ccc; float: none; }

                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a         { border-right: none; width: 100%; display: inline-block; }

/*
  LEVEL THREE
*/
ul.dropdown ul ul           { left: 100%; top: 0; }
ul.dropdown li:hover > ul       { visibility: visible; }

li {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-right: 1.8rem;
}