.Top-Menu {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 6;
}

.Top-Menu a {
  color: white;
}

ul.dropdown                         { z-index: 10; margin: 0 auto; right: 5rem; vertical-align: middle; height: 100%;}
ul.dropdown li                      { font-weight: bold; float: left; zoom: 1; }
ul.dropdown a:hover               { color: white; }
ul.dropdown a:active                { color: white; }
ul.dropdown li a                    { display: block; padding: 4px 8px;
                    color: white; }
/* ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */ */
ul.dropdown li.hover,
ul.dropdown li:hover                { background: #F3D673; color: black; position: relative; }
ul.dropdown li.hover a              { color: black; }

li {
  display: inline;
  list-style: none;
  font-size: 2.5vw;
  padding-right: 1vw;
}

li:hover {
  cursor: pointer;
}

.Bio-Wrap {
  top: 13%;
  bottom: 7rem;
  z-index: 6;
  width: 50%;
  left: 25%;
  right: 12.5%;
  position: fixed;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  height: 70vh;
}

.Overlay {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 1100px) {
    .Bio-Wrap {
      top: 8%;
      width: 100%;
      left: 0;
      right: 0;
      grid-template-columns: 100%;
      grid-template-rows: 50% 50%;
      height: 100%;
      bottom: 0;
    }
}