#Twitter {
  z-index: 6;
  width: 30rem;
/*  height: 80%;*/
  top: 6rem;
  bottom: 6rem;
  right: 3.5rem;
  position: fixed;
}

#Timeline {
  height: 100%;
  overflow: scroll;
  margin-top: 0.3rem;
  border-radius: 0.15rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #Twitter {
    width: 100vw;
    top: 10rem;
    bottom: 0;
    left: 0;
    right: 0;
  }

}