#Twitter {
  top: 10%;
  bottom: 5vh;
  z-index: 9999;
  width: 50%;
  left: 25%;
  right: 12.5%;
  position: fixed;
  overflow: scroll;
}

#Timeline {
  height: 100%;
  overflow: scroll;
  margin-top: 0.3rem;
  border-radius: 0.15rem;
  text-align: center;
  -webkit-animation: fadeInTwitter 1s 1;
  -moz-animation:    fadeInTwitter 1s 1;
  animation:         fadeInTwitter 1s 1;
}

@keyframes fadeInTwitter {
  0% { opacity: 0.3; }
  25% { opacity: 0.5; }
  50% { opacity: 0.7; }
  75% { opacity: 0.9; }
  100% { opacity: 1; }
}

@media only screen and (max-width: 1100px) {
  #Twitter {
    width: 100%;
    left: 0;
    right: 0;
    top: 10%;
    bottom: 0;
  }

  #Timeline {
    margin-top: 0;
  }
}