#Twitter {
  z-index: 6;
  width: 30rem;
  height: 80%;
  top: 8rem;
  bottom: 8rem;
  right: 3.5rem;
  
  position: fixed;
}

#Timeline {
  height: 100%;
  overflow: scroll;
  margin-top: 0.3rem;
  border-radius: 0.15rem;
  text-align: center;
}