#Twitter {
  top: 7rem;
  bottom: 5vh;
  z-index: 9999;
  width: 50%;
  left: 25%;
  right: 12.5%;
  position: fixed;
  overflow: hidden;
}

#Timeline {
  height: 100%;
  overflow: scroll;
  margin-top: 0.3rem;
  border-radius: 0.15rem;
}

@media only screen and (max-width: 1100px) {
  #Twitter {
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    top: 9rem;
    overflow: hidden;
  }

  #Timeline {
    margin-top: 0;
  }
}